@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Merienda", cursive; }

.todo {
  width: 385px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 30px auto; }
  .todo .header .title {
    background: #00d0ab;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    padding: 10px 0;
    text-align: center; }
  .todo .add-form {
    padding: 10px; }
    .todo .add-form .input-box {
      width: 85%;
      height: 45px;
      background: #ffffff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: flex;
      margin: 0 auto;
      padding-left: 15px; }
      .todo .add-form .input-box .form {
        flex: 1; }
        .todo .add-form .input-box .form .form-control {
          width: 100%;
          height: 45px;
          border: 0;
          color: #a7a7a7;
          font-family: "Merienda", cursive;
          font-size: 15px;
          font-weight: 500; }
          .todo .add-form .input-box .form .form-control:focus {
            outline: 0; }
        .todo .add-form .input-box .form ::placeholder {
          color: #a7a7a7; }
      .todo .add-form .input-box .button button {
        height: 45px;
        width: 50px;
        background: #00d0ab;
        border: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        font-family: "Merienda", cursive;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize; }
  .todo .task-list {
    border-top: 1px solid #dddddd; }
    .todo .task-list .task {
      border-bottom: 1px solid #dddddd;
      padding: 10px 15px; }
      .todo .task-list .task .task-content {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .todo .task-list .task .task-content .checkbox-text {
          display: flex;
          align-items: center;
          flex: 1; }
          .todo .task-list .task .task-content .checkbox-text .checkbox {
            margin-right: 5px; }
          .todo .task-list .task .task-content .checkbox-text .text {
            text-transform: capitalize; }
          .todo .task-list .task .task-content .checkbox-text .complete {
            text-decoration: line-through; }
        .todo .task-list .task .task-content .buttons svg {
          cursor: pointer;
          font-size: 20px;
          padding-left: 10px; }
      .todo .task-list .task .task-time {
        color: #a7a7a7;
        font-size: 11px;
        margin-top: 3px; }
    .todo .task-list .reminder {
      background: #008000;
      border-bottom: 1px solid #008000;
      transition: background 0.5s linear;
      -webkit-transition: background 0.5s linear;
      -o-transition: background 0.5s linear;
      -moz-transition: background 0.5s linear; }
      .todo .task-list .reminder .task-content .checkbox-text .text {
        color: #ffffff; }
      .todo .task-list .reminder .task-content .buttons svg {
        fill: #ffffff; }
      .todo .task-list .reminder .task-time {
        color: #ffffff; }
  .todo .no-task {
    padding: 10px;
    text-align: center; }
    .todo .no-task p {
      color: #a7a7a7;
      margin-top: 5px; }

/*# sourceMappingURL=index.css.map */
